#myModal1,#myModal2{
    display: none;
			position: fixed;
			margin: auto;
			padding-top: 100px;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			overflow: auto;
			background-color: #01313c;
			opacity: 0.99;
			z-index: 1;
}
#myModal3{
    display: none;
    position: fixed;
    margin: auto;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #01313c;
    opacity: 0.99;
    z-index: 1;
}

#myModal4{
    display: none;
			position: fixed;
			margin: auto;
			padding-top: 100px;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			overflow: auto;
			background-color: #01313c;
			opacity: 0.99;
			z-index: 1;
}

#myModal5{
    display: none;
			position: fixed;
			margin: auto;
			padding-top: 100px;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			overflow: auto;
			background-color: #01313c;
			opacity: 0.99;
			z-index: 1;
}

.close1,.close2,.close3,.close4,.close5 {
    color: #aaaaaa;
    float: right;
    font-size: 40px;
    font-weight: bold;
    
}



.close1:hover,
.close1:focus{
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.close2:hover,
.close2:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}


.close3:hover,
.close3:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}


.close4:hover,
.close4:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}


.close5:hover,
.close5:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}